*{
    margin:0;
    padding:0;
}
body{
    background-image:url(image/watch.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(197, 20, 14);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#time{
    font-size: 45px;
}